.SrContainer {
  overflow: hidden;
//   background-color: red;
  height: 60vh;
  width: 100vw;
}
.ItemCont {
  height: 50vh;
  width: 100vw;
//   background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    height: 10vh;
    // background-color: brown;
  }
  .ItemBox{
    //   background-color: darkcyan;
      width: 90%;
      margin: 0 auto;
      height: 50vh;
      display: flex;
      img{
          height: 50vh;
      }
      .rightCont{
        //   background-color: darkgoldenrod;
          text-align: center;
          width: 100%;
          overflow: auto;
          p{
              padding:0 10%;
          }
      }
  }
}
.ItemCont2 {
  height: 50vh;
  width: 10vw;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  h1 {
    height: 10vh;
    background-color: brown;
  }
}
